* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Noto Sans TC", sans-serif;
  outline: 1px solid #f2f;
}

body {
  background: linear-gradient(
    rgb(135, 221, 255),
    rgb(0, 183, 255),
    rgb(135, 221, 255)
  );
  color: #0f1353;
  padding-top: 75px;
}

ul {
  list-style: none; /* Remove list bullets */
  padding: 0;
  margin: 0;
}

.strokeme {
  color: #fff;
  text-shadow: -2px -2px 0 #0f1353, 2px -2px 0 #0f1353, -2px 2px 0 #0f1353,
    2px 2px 0 #0f1353;
}

.dropdown-toggle {
  background-color: transparent;
  border-color: #0f1353;
  border-radius: 0;
  border-style: solid;
  color: #0f1353;
}

.dropdown-menu {
  background-color: rgb(255, 255, 255);
}

.dropdown > a:hover {
  color: #ebf6f8;
  background-image: none;
  background-color: #0f1353;
}

/* latter Fixed page header overlaps in-page anchors */
/* :target:before {
  content: "";
  display: block;
  height: 80px;
} */

/* color ------------------------------------------------------------*/
.primary-color {
  color: #33bcf2;
  color: rgb(51, 188, 242);
  color: #bcf5ff;
  color: rgb(188, 245, 255);
  color: #ebf6f8;
  color: rgb(235, 246, 248);

  color: #d170ff;
  color: rgba(209, 112, 255, 1);

  color: #120078;
  color: rgb(18, 0, 120);
  color: #48ffd3;
  color: rgb(72, 255, 211);
}
.secondary-color {
  color: #fcfdff;
  color: rgb(252, 253, 255);
  color: #787878;
  color: rgb(120, 120, 120);
}
/* end of color----------------------------------------------------- */

/* text-style -----------------------------------------------------------*/
.heading1 {
  font-style: normal;
  font-weight: bold;
  font-size: 5rem;
  line-height: 7rem;
  letter-spacing: 0.06em;
}

.heading2 {
  font-style: normal;
  font-weight: bold;
  font-size: 3.5rem;
  line-height: 5.5rem;
  letter-spacing: 0.055em;
}

.subtitle {
  font-style: normal;
  font-weight: 600;
  font-size: 2.2rem;
  line-height: 3.5rem;
  letter-spacing: 0.055em;
}

.subtitle2 {
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.2rem;
  letter-spacing: 0.055em;
}

.caption {
  font-style: normal;
  font-weight: normal;
  font-size: 0.8rem;
  line-height: 15px;
  letter-spacing: 0.07em;
}

.body1 {
  font-style: normal;
  font-weight: normal;
  font-size: 1.25rem;
  line-height: 2rem;
  letter-spacing: 0.08em;
}

.body2 {
  font-style: normal;
  font-weight: normal;
  font-size: 1.1rem;
  line-height: 150.19%;
  letter-spacing: 0.07em;
}

.button {
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 16px;
  letter-spacing: 0.16em;
}
/* end of text --------------------------------------------------*/

/* header------------------------------------------------------ */

.img-box {
  width: 13rem;
  height: 100%;
}
.img-box img {
  width: 100%;
}

.navbar {
  background-color: rgba(252, 253, 255, 0.5);
}

/* box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 1); */

.navbar .nav-text {
  color: #120078;
  text-align: center;
}

.navbar .nav-item.active .nav-text,
.navbar .nav-item:hover .nav-text {
  color: #33bcf2;
}
/*end of header------------------------------------------------------ */

/* section-kv------------------------------------------------------ */

.kv-bg {
  width: 100%;
  height: 110vh;
  background-image: url("./img/kv-bg.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.kv-info {
  padding-top: 8rem;
}

.kv-bg img {
  width: 100%;
}

.kv-scroll {
  z-index: 1;
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 110px;
  height: 35px;
  animation: kv-scroll-down 1.5s 0.8s infinite;
}

/* latter */
@keyframes kv-scroll-down {
  0% {
    bottom: 5%;
    opacity: 1;
  }
  100% {
    bottom: 25%;
    opacity: 0;
  }
}

.kv-scroll img {
  width: 100%;
}

.btn-fill {
  border: 1.5px solid #33bcf2;
  background-color: #33bcf2;
  min-width: 10rem;
  min-height: 2rem;
  text-align: center;
  line-height: 20px;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2px;
  padding: 1% 3%;
  border-radius: 2rem;
  margin: 10px 18px;
  box-shadow: 1px 1px 2px 1px rgba(51, 188, 242, 0.5);
  color: #fff;
  transition: 0.1s;
}

.btn-outline {
  border: 1.5px solid #33bcf2;
  background-color: #fff;
  color: #33bcf2;
  min-width: 10rem;
  min-height: 2rem;
  text-align: center;
  line-height: 20px;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2px;
  padding: 1% 3%;
  border-radius: 2rem;
  margin: 10px 18px;
  box-shadow: 1px 1px 2px 1px rgba(51, 188, 242, 0.5);
  transition: 0.1s;
}

.btn-fill:hover,
.btn-outline:hover {
  border: 1.5px solid #d170ff;
  color: #fff;
  background-color: #d170ff;
  box-shadow: inset 5px 5px 20px #d270ffe0, inset -5px -5px 20px #d270ffe0;
  box-shadow: 1px 1px 2px 1px rgba(209, 112, 255, 0.5);
  text-decoration: none;
}

.btn:hover,
.btn-outline:focus,
.btn:focus,
.btn:focus-visible,
.btn:visited,
.btn:active,
.btn:focus-within {
  outline: none;
}

@media (max-width: 767.98px) {
  .heading1 {
    font-style: normal;
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 3.5rem;
    letter-spacing: 0.03em;
  }
  
  .heading2 {
    font-style: normal;
    font-weight: bold;
    font-size: 1.25rem;
    line-height: 2rem;
    letter-spacing: 0.025em;
  }
  
  .subtitle {
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: 0.03em;
  }
  
  .subtitle2 {
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 2rem;
    letter-spacing: 0.055em;
  }
  
  .caption {
    font-style: normal;
    font-weight: normal;
    font-size: 0.4rem;
    line-height: .5rem;
    letter-spacing: 0.07em;
  }
  
  .body1 {
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.08em;
  }
  
  .body2 {
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.8rem;
    letter-spacing: 0.07em;
  }
  
  .button {
    font-style: normal;
    font-weight: bold;
    font-size: 1.25rem;
    line-height: .3rem;
    letter-spacing: 0.16em;
  }
  a.navbar-brand .img-box{
    width: 8rem;
    height: 4rem;
  }

  .kv-info {
    padding-top: 3rem;
  }

  .img-block .about-img{
    width: 8rem;
    height: 9rem;
    border-radius: 2rem 0;
  }

  .img-block .white-box-l{
    top: 20%;
    right: 45%;
    border-radius: 0 0 0 60px;
    width: 60px;
    height: 70px;
  }
  .img-block .white-box-r{
    top: 2%;
    right: 5%;
    border-radius: 0 60px 0 0;
    width: 60px;
    height: 70px;
  }

  .about-bg .subtitle{
    margin-top: 2rem;
  }

  #section-about .info-box {
    height: 40rem;
    width: 20rem;
  }

}
/* end of section-kv------------------------------------------------------ */

/* section-about------------------------------------------------------ */
.about-bg {
  height: 100vh;
  width: 100%;
  background-image: url("./img/about-bg.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}
.about-bg .subtitle {
  border-left: 15px solid #fff;
  color: #fff;
  text-shadow: 0.05em 0.05em 0.1em rgba(51, 51, 51, 0.5);
}

.about-bg .body1 {
  color: #fff;
  text-shadow: 0.1em 0.1em 0.2em rgba(51, 51, 51, 0.5);
}

#section-about .info-box {
  padding: 2rem;
  background: rgba(255, 255, 255, 0.5);
  width: auto;
  height: 25rem;
  border-radius: 4px;
  box-shadow: 0 0 1rem 0 rgba(255, 255, 255, 0.2);
  position: relative;
  z-index: 1;
  background: inherit;
  overflow: hidden;
}

#section-about .info-box::before {
  content: "";
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
  filter: blur(10px);
  margin: -20px;
}

.about-img {
  width: 16rem;
  height: 19rem;
  border-radius: 70px 2px;
  overflow: hidden;
  object-fit: cover;
  background-color: #fff;
  position: absolute;
  top: 5%;
  right: 15%;
  z-index: 20;
}

.about-img img {
  height: 100%;
}

.about-img img:hover {
  transform: scale(1.2);
  transition-duration: 0.5s;
}

.white-box-l {
  position: absolute;
  top: 25%;
  right: 26%;
  border-radius: 0 0 0 100px;
  width: 125px;
  height: 155px;
  background: #fff;
}

.white-box-r {
  position: absolute;
  top: 10%;
  right: 10%;
  border-radius: 0 100px 0 0;
  width: 130px;
  height: 150px;
  background: #fff;
}
/* end of section-about------------------------------------------------------ */

/* section-main-service-------------------------------------------- */
#section-main-service .area-title {
  text-align: center;
}
#section-main-service .mainservice1-3 {
  position: relative;
}

#section-main-service .info-box {
  margin-bottom: 50px;
  margin-top: 50px;
  min-height: 15rem;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.247);
}

#section-main-service .mainservice1-3:hover {
  animation: float-up 0.8s 0.5s ease-out both;
}
@keyframes float-up {
  0% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(10px);
  }
}

.scale-up-top {
  animation: scale-up-top 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@keyframes scale-up-top {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }
}

#section-main-service .info-title {
  text-align: right;
  color: #33bcf2;
}
#section-main-service .blue-square {
  position: absolute;
  top: 6%;
  left: 10%;
  background-color: #33bcf2;
  border-radius: 5px;
  box-shadow: 1px 1px 5px 2px rgba(38, 74, 128, 0.247);
  width: 6rem;
  height: 6rem;
}

#section-main-service .info-body {
  color: #808080;
}

#section-main-service .info-icon {
  width: 5.5rem;
  height: 5.5rem;
}

#section-main-service .info-icon img {
  width: 100%;
}

#section-main-service .signal {
  margin: 0 auto;
  text-align: center;
}

/* latter */
#section-main-service .area-title::before {
  content: "";
  width: 50px;
  height: 3px;
  background-color: #120078;
  z-index: 20;
}

.main-service-bg {
  background-image: url("./img/m2r_bg-srvice-mid.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
  position: relative;
}

.main-service-bg::before {
  content: "";
  background-image: url("./img/m2r_bg-service-top.png");
  background-size: 100% 60px;
  display: inline-block;
  width: 100%;
  height: 60px;
  position: absolute;
  top: -8%;
}
.main-service-bg::after {
  content: "";
  background-image: url("./img/m2r_bg-service-bottom.png");
  background-size: 100% 60px;
  display: inline-block;
  width: 100%;
  height: 60px;
  position: absolute;
  bottom: -8%;
  z-index: 2;
}

/* end of section-main-service-------------------------------------------- */

/* section-service-1 ,section-service-2-------------------------------------------- */
.service-1-bg {
  background-image: url("./img/service2-bg.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 1350px;
  position: relative;
}

#section-service-1 .service-heading {
  position: absolute;
  top: 8%;
  left: 5%;
  color: #fff;
  z-index: 1;
  text-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.4);
}

#section-service-1 .highlight {
  width: 22rem;
  height: 3rem;
  background-color: #48ffd3;
  transform: skewX(-30deg);
  position: absolute;
  top: 20%;
  left: 5%;
}

#section-service-1 .box-family-frame {
  margin-top: 10rem;
}

#section-service-1 .box-icon-bg {
  width: 10rem;
  height: 6rem;
  border-radius: 20rem 20rem;
  background-color: #ebf6f8;
  box-shadow: 0 0 0 8px #fff;
  position: absolute;
  top: -2%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#section-service-1 .box-icon {
  width: 5rem;
  height: 5rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

#section-service-1 .box-icon img {
  width: 100%;
}

#section-service-1 .box-2x2 {
  padding: 1.5rem;
  background-color: #fff;
  border-radius: 9px;
  color: #0f1353;
  margin-top: 4rem;
  margin-bottom: 5rem;
  position: relative;
  min-height: 20rem;
}

#section-service-1 .box-title {
  margin-top: 2rem;
  color: #808080;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: center;
}

#section-service-2 .service-area-title {
  margin: 3rem 3rem 0 3rem;
  padding-left: 2rem;
  border-left: 5px solid #fff;
  color: #fff;
}

#section-service-2 .service-area-slogan {
  margin: 1rem 3rem;
  color: #fff;
}

#section-service-2 .section-items-frame {
  width: 100%;
  height: auto;
  object-fit: cover;
}

#section-service-2 .section-items-frame img {
  width: 100%;
}

/* end of section-service-1, section-service-2------------------------- */

/* section-map --------------------------------------*/
#section-map .heading2 {
  margin-top: 7rem;
  text-align: center;
}

#section-map .body1 {
  margin-top: 2rem;
  text-align: center;
}

#section-map .map-bg {
  background-image: url("./img/m2r_bg-map.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  width: 100%;
  height: 120vh;
  position: relative;
}

#section-map .map-frame {
  width: 1000px;
  height: auto;
  object-fit: cover;
}

#section-map .map-frame img {
  width: 100%;
}

/* end of section-map --------------------------------------*/

/* section-cooperation */
.box-dollar {
  text-align: end;
}

#section-cooperation .box-4x1 {
  background: linear-gradient(
    rgba(225, 255, 248, 0.43),
    rgba(72, 255, 211, 1),
    rgba(185, 255, 238, 1)
  );
  border-radius: 5px;
  padding: 2rem;
  margin: 0 auto;

  position: relative;
  max-width: 18rem;
}

#section-cooperation .coop-btn {
  background-color: #fff;
  color: #0f1353;
  position: absolute;
  bottom: -10%;
  left: 50%;
  transform: translateX(-60%);
  padding: 1rem;
}
/* end of section-cooperation */

/* section-contact ---------------------------*/
#section-contact .contact-btn {
  position: absolute;
  left: 50%;
  transform: translateX(-55%);
}
#section-contact .contact-box {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 1)
    ),
    url("./img/contact-box-bg.jpg");
  background-repeat: no-repeat;
  background-position: top;
  position: relative;
  height: 280px;
  border-radius: 5px;
  padding: 2rem;
}
/* end of section-contact --------------------------- */

/* footer */
footer,
#section-contact,
#section-cooperation,
#section-main-service,
#section-service-2 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.footer-info-widget {
  border-top: 2px solid #120078;
}
.widget-about {
  width: 310px;
  height: auto;
}
.widget-about img {
  display: block;
  margin-bottom: 30px;
  width: 100%;
}
.footer-widget-title {
  line-height: 42px;
  margin-bottom: 10px;
  font-size: 18px;
}
.footer-menu {
  padding-left: 48px;
}
.footer-menu ul li a {
  font-size: 15px;
  line-height: 32px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.footer-menu ul li a:hover {
  color: #5867dd;
}
.footer-menu--1 {
  width: 100%;
}

.copyright-text {
  color: #3c77cf;
}

a:focus,
a:hover {
  text-decoration: none;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.2s;
}
